*{
    box-sizing:border-box;
    margin:0;
}
body{
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:hsl(0, 0%, 100%);
    margin:0;
    
}
header{
    background-color:hsl(217, 28%, 15%);
   width:100%;
  height:100px;
   padding:2% 4% 0 4%;
}
header img{
    float:left;
    
}

ul li {
    list-style-type: none;
    float: right;
    padding:10px;
    font-weight:400;
    font-size:14px;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
}
a:hover{
    font-weight:700;
    text-decoration: underline;
}

.intro{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding-bottom:100px;
    padding-top:60px;
    background-color:hsl(217, 28%, 15%);
    background-image: url("images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

}
.intro img{
    width:50%;

}
h1{
    font-weight:700;
    font-size:3.6em;
    width:50%; 
}
h1, h2{
    font-family: 'Raleway', sans-serif;
    color:hsl(0, 0%, 100%);
    text-align:center;
    padding-top:40px;
}
h2{
    font-size:1.9em;
}
p{
width:34%;
text-align:center;
font-size:1.7em;
font-weight:400;
color:hsl(0, 0%, 80%);
padding-top:40px;
}

button{
    border:none;
    width:300px;
    height:60px;
    border-radius:30px;
background-color:hsl(198, 60%, 50%);
color:hsl(0, 0%, 100%);
font-family: 'Raleway', sans-serif;
font-size:1.1em;
font-weight: 700;
margin-top:40px;
cursor:pointer;
}
button:hover{
    background-color:hsl(176, 68%, 64%);
}

.flex{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
width:60%;
margin:auto;

}
.logs{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width:450px;
    
    margin-bottom:60px;
}

.logs img{
    width:30%;
}

.logs p{
   width:100%;
    font-size:1.4em;
    padding-top:20px;
}

.productive{
    width:90%;
    margin:auto;
   display:flex;
   flex-direction:row;
 padding-top:40px;
}
.text{
    padding-left:80px;
}
.text h1, .text p{
    text-align:left;
}
.text p{
  
  padding-top:0;
    width:100%;
  
}

.text h1{
    padding-bottom:20px;
}
.text p a{
color: hsl(0, 0%, 80%);
color:hsl(176, 68%, 64%);
text-decoration: underline;

}

.text p a:hover{
    color:hsl(0, 0%, 100%);
    font-weight:400;
}
.image{
    width:60%;
}
.image img{
    width:100%;
}
.testimonials{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:85%;
   
margin:auto;
justify-content:space-between;
background-image: url("images/bg-quotes.png");
background-repeat: no-repeat;
background-position-y: 85px;
background-position-x: 10px;



}

.bubble{
    width:480px;
    height:260px;
    margin: 0 20px 0 20px;
    background-color:hsl(219, 30%, 18%);
border-radius:5px;
margin-top:120px;
}
.bubble p {
    width:100%;
    text-align: left;
    padding:40px;
    font-size: 1.5em;
}

.bubble img{
  width:10%;
    border-radius: 50px;
    margin-left:40px;
   
}
.work{
   position:relative;
   left:110px;
   top:-50px;
}