*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    
}
header, .intro, .logs p, .text p, 
.image, .image img,.bubble p, footer,
.text h1, .image, .testimonials,.list, .list2{
    width:100%;
}
header, .intro{
    background-color:hsl(217, 28%, 15%);
}
header{
    height:130px;
    padding:4% 4% 0 4%;
}
header img{
    float:left;
    
}
.soc a, ul li{
    padding:10px;
}
ul li, p{
    font-weight:400;
}
ul li {
    list-style-type: none;
    float: right;
    font-size:1.3vw;
}
a, body,h1, h2, button{
    color:hsl(0, 0%, 100%);
}
a{
    text-decoration: none;
}
a:hover{
    font-weight:700;
    text-decoration: underline;
}
.intro, footer, .bubble{
    height:auto;
}
.intro{
   
    justify-content: center;
    align-items:center;
    padding-bottom:100px;
    padding-top:60px;
    background-image: url("images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

}

.intro img, h1{
    width:60%;

}
h1{
    font-weight:700;
    font-size:3vw;
}
h1, h2, p{
    text-align:center;
}
h1, h2, ul li, button{
    font-family: 'Raleway', sans-serif;
}
h2{
    font-size:1.9em;
}
p, .productive, h1, h2{
    padding-top:40px;
}
p{
width:54%;
font-size:1.5vw;
color:hsl(0, 0%, 80%);
}
.dark, .logs, .contacts, .intro{
    display:flex;
    flex-direction: column;
}

.flex, .productive, .testimonials, footer {
    display:flex;
    flex-direction:row;
}
.dark,.logs{
    align-items: center;
}
.dark{
margin-bottom:120px;
}

button{
    border:none;
    width:300px;
    height:60px;
    border-radius:30px;
background-color:hsl(198, 60%, 50%);
font-size:1.1em;
font-weight: 700;
margin-top:40px;
cursor:pointer;
}
button:hover{
    background-color:hsl(176, 68%, 64%);
}

.flex{
flex-wrap: wrap;
justify-content: space-around;
width:60%;
margin:auto;

}
.logs{
    justify-content: flex-end;
    width:450px;
    
    margin-bottom:60px;
}

.logs img{
    width:30%;
}

.logs p{
    font-size:1.4em;
    padding-top:20px;
}

.productive{
    width:90%;
    margin:auto;
}
.text{
    padding-left:80px;
}
.text h1, .text p{
    text-align:left;
}
.text p{
  
  padding-top:0;
  
}

.text h1{
    padding-bottom:20px;
}
.text p a{
color: hsl(0, 0%, 80%);
color:hsl(176, 68%, 64%);
text-decoration: underline;

}

.text p a:hover{
    color:hsl(0, 0%, 100%);
    font-weight:400;
}


.testimonials{
    width:90%;
   
margin:auto;
justify-content:space-between;
background-image: url("images/bg-quotes.png");
background-repeat: no-repeat;
background-position-y: 85px;
background-position-x: 10px;



}

.bubble{
    width:480px;
    height:260px;
    margin: 0 20px 0 20px;
    background-color:hsl(219, 30%, 18%);
border-radius:5px;
margin-top:120px;
}
.bubble p {
    text-align: left;
    padding:40px;
    font-size: 1.5em;
}

.bubble img{
  width:10%;
    border-radius: 50px;
    margin-left:40px;
   
}
.work{
   position:relative;
   left:110px;
   top:-50px;
}
.signup{
background-color: hsl(217, 28%, 15%);
width:60%;
margin:auto;
border-radius:10px;
margin-top:200px;
padding-bottom:70px;
margin-bottom:-100px;
position:relative;
}
.signup h1, .signup p{
    width:90%;
    text-align: center;
    margin:auto;
}
form{
    width: 100%;
height: 100px;
display: flex;
justify-content: space-evenly;
}
input{
    width:500px;
    height:60px;
    border-radius:30px;
    border:none;
    margin-top:40px;
   text-align: center;
   object-position: 60% 50%;

}

footer{
    background-color: hsl(216, 53%, 9%);
    padding: 150px 20px 20px 0px;

}

footer p{
    text-align:left;
    padding-top:0px;
    width:auto;
    padding-left:30px
}


.location{
    width:30%;
    margin-left:60px;
   
}
.location img:nth-child(2), .contacts img{
    position:relative;  
}
.location img:nth-child(2){
    display:block;
    top:25px;
}
.contacts{
    justify-content: flex-start;
    padding:100px 40px 0px 100px;
}
.contacts img, .list, .list2{
    width:10%;
}
.contacts img{
  top:16%;
right:20px;
}

.list li, .list2 li{
float:none;
font-size:18px;
}

.list li a:hover, .list2 li a:hover{

        text-decoration: none;
}

.list, .list2{
    display:flex;
    align-items: flex-start;
    padding-top:100px;
}
.soc{
    margin-top:100px;
}


.soc a i:hover{
    color:hsl(176, 68%, 64%);
    border-color: hsl(176, 68%, 64%);
}
.soc i {
    padding:15px;
    border:1px solid white;
    border-radius:50px;
}
#facebook{
    padding:15px 20px 15px 20px;
}
#instagram{
        padding-left: 17px;
        padding-right: 17px;
}

#error{
   
    color:hsl(0, 100%, 63%);
    font-family: open sans-serif;
    font-size:14px;
    text-align:left;
padding-left:80px;
margin-top:-20px;
}


@media screen and (max-width:1440px){
    
    .flex{
       
        justify-content: space-around;
        width:80%;
        margin:auto;
        
        }
        .image, .text h1{
            width:100%;
        }
       
        .bubble{
            width: 30%;
    height: auto;
        }
      
        .signup button{
            width:300px;
        }
    
        .fa-2x{
            font-size: 1em;
        }
    }

    
@media screen and (max-width:1024px){
    ul li, p{
        font-size:1.4em;
    }
   .productive, .testimonials, footer, form{
       flex-direction:column;
   }
   form{
       height:auto;
       align-items: center;
   }
   .image, .text, .signup, .location, .list , .list2{
       width:80%; 
   }
   .image, .text, .location, .list, .list2{
       margin:auto;
   }
   .text{
       padding-left:0px;
   }
   .productive{
       width:100%;
   }
   .bubble{
       width:90%;
      margin:40px auto 0 auto;
   }
   .bubble:first-child{
    margin-top:120px;
}
input, .signup button{
    width:500px;
}

.contacts img{
    width:5%;
    top:25px;
}
.contacts, .list, .list2{
    padding-top:40px;
}
.soc{
    margin:40px auto 0 auto;
    
}
.work {
    position: relative;
    left: 140px;
    top: -60px;
}
}
@media screen and (max-width:667px){

    header img {
        width: 25%;
        margin: 30px 0px 0px 20px;
    }
ul li{
    margin-top:20px;
    font-size:1em;
}
.intro{
    
    background-image: url("images/bg-curvy-mobile.svg");
    background-position: 0% 42%;
    
padding-bottom:0;
padding-top:0;
}


.intro div p{
    margin:auto;
}
.dark {
display:flex;
align-items: center;
background-color:  hsl(218, 28%, 13%);
margin-bottom:0;
}
button{
    margin-bottom:100px;
}
h1, p, .intro img{
    width:90%;
}
h1{
    font-size:1.8em;
    line-height: 1.5;
    padding-top:0;
}
p{
    font-size:1.2em;
    padding-top:20px;
}
.flex{
    width:85%;
}
.productive, .dark, footer, form{
    flex-direction:column;
}

.text{
    padding-top:20px;
    padding-left:0;
}
.bubble p{
    padding:20px;
    font-size: 1.4em;
}
.bubble img{
    margin-left:20px;
}
.bubble, .soc{
    margin-top:40px;
}
.work{
    left:90px;
    top:-40px;
}

.bubble:first-child{
    margin-top:120px;
}
form{
    height:auto;
    align-items: center;
}
.signup{
    width:90%;
    padding-top:50px;
  padding-bottom:0px;
}
input{  
height:60px;
}
.signup button, input{

    width:80%;
}

.location{
    width:90%;
    margin-left:30px;
}
.contacts{
    padding:20px 0px 0px 40px;
   
}
.contacts img{
    top: 23px;
right: 10px;
}
.list, .list2{
    width:90%;
    padding-top:40px;
}
.list ul li, .list2 ul li{
    margin-top:0px;
}


}